[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "node index.js"
healthcheckPath = "/health"
healthcheckTimeout = 120
restartPolicyType = "ALWAYS"
restartPolicyMaxRetries = 10
